<div class="jumbotron main-background-image" style="background-image: url(https://images.pexels.com/photos/261181/pexels-photo-261181.jpeg);">
    <section class="container-fluid container-fluid-max-xl">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h1 class="display-4"><lfr-editable id="main-title" type="text">“After my stay at a Livingstone Hotel, I'm happier and healthier than I've ever been in my entire life.”</lfr-editable></h1>
                    <p><lfr-editable id="customer-name" type="text">-Miguel S., Happy Customer</lfr-editable></p>
            </div>
        </div>
    </section>
</div>