<div class="big-item-list-template jumbotron tertiary-background-color">
    <section class="container-fluid container-fluid-max-xl">
    <h1 class=" display-4 text-center"><lfr-editable id="main-title" type="text">Popular Destinations</lfr-editable></h1>
        <div class="row">
            <div class="text-center col-md-4">
                <!--<img alt="Alloy Logo" src="$offering1.png$">-->
                <h2>Chicago</h2>
                <p>Book a trip here now</p>
                <p class="external-link">
                    <a href="#" rel="external" target="_blank" title="">
                        <span class="sticker sticker-lg center-block user-icon-color-1">
                            <span class="icon-chevron-right"> </span>
                        </span> See Hotels </a>
                </p>
            </div>

            <div class="text-center col-md-4">
                <!--<img alt="Connected Services" src="$offering2.png$">-->
                <h2>Prague</h2>
                <p>Book a trip here now</p>
                <p class="external-link">
                    <a href="#" rel="external" target="_blank" title="">
                        <span class="sticker sticker-lg center-block user-icon-color-1">
                            <span class="icon-chevron-right"> </span>
                        </span> See Hotels </a>
                </p>
            </div>

            <div class="text-center col-md-4">
                <!--<img alt="Liferay" src="$offering3.png$">-->
                <h2>Milan</h2>
                <p>Book a trip here now</p>
                <p class="external-link">
                    <a href="#" rel="external" target="_blank" title="">
                        <span class="sticker sticker-lg center-block user-icon-color-1">
                            <span class="icon-chevron-right"> </span>
                        </span> See Hotels </a>
                </p>
            </div>
        </div>
    </section>
</div>