<div class="container-fluid container-fluid-max-xl">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-globe"> </span>
                        <h3><lfr-editable id="first-header" type="text">120 Hotels</lfr-editable></h3>
                        <p><lfr-editable id="first-body" type="text">The Livingstone Hotel Group is made up of 16 hotels all around the globe.</lfr-editable></p>
                    </div>

                    <div class="col-md-6">
                        <span class="icon-certificate"> </span>
                        <h3><lfr-editable id="second-header" type="text">Award Winning Service</lfr-editable></h3>
                        <p><lfr-editable id="second-body" type="text">We're commited to giving you the best experiece possible and have the gold stars to prove it.</lfr-editable></p>
                    </div>

                    <div class="col-md-6">
                        <span class="icon-star"> </span>
                        <h3><lfr-editable id="third-header" type="text">History of Excellence</lfr-editable></h3>
                        <p><lfr-editable id="third-body" type="text">We've been around for 120 years.</lfr-editable></p>
                    </div>

                    <div class="col-md-6">
                        <span class="icon-food"> </span>
                        <h3><lfr-editable id="fourth-header" type="text">Fine Dining</lfr-editable></h3>
                        <p><lfr-editable id="fourth-body" type="text">Our hotels feature the best fine dining and drinking anywhere.</lfr-editable></p>
                    </div>

                    <div class="col-md-6">
                        <span class="icon-suitcase"> </span>
                        <h3><lfr-editable id="fifth-header" type="text">Travel Packages</lfr-editable></h3>
                        <p><lfr-editable id="fifth-body" type="text">Let us prepare the perfect package for you.</lfr-editable></p>
                    </div>

                    <div class="col-md-6">
                        <span class="icon-glass"> </span>
                        <h3><lfr-editable id="sixth-header" type="text">Special Events</lfr-editable></h3>
                        <p><lfr-editable id="sixth-body" type="text">Contact us to learn more about weddings and other events</lfr-editable></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>