<div class="jumbotron main-background-image" style="background-image: url(https://images.pexels.com/photos/9537/sea-beach-sand-sun.jpg);">
    <section class="container-fluid container-fluid-max-xl">
        <div class="col-md-6 mr-auto text-left">
            <h1 class="display-4"><lfr-editable id="main-title" type="text">Livingstone Hotels and Resorts</lfr-editable></h1>
            <p class="lead"><lfr-editable id="body-text" type="text">Get ready for the journey of a lifetime. It's time to
                <strong>go anywhere</strong>.</lfr-editable></p>
            <div class="btn-group">
                <div class="btn-group-item">
                    <a class="btn btn-default btn-theme-default btn-xl" href="#">Discover</a>
                </div>

                <div class="btn-group-item">
                    <a class="btn btn-primary btn-theme-primary btn-xl" href="#">Book Now</a>
                </div>
            </div>
        </div>
    </section>
</div>