<div class="jumbotron">
    <div class="default-background-color jumbotron">
        <div class="container-fluid container-fluid-max-xl">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h1 class="display-4"><lfr-editable id="main-title" type="text">Plan your next trip now</lfr-editable></h1>
                    <p class="lead"><lfr-editable id="sub-title-text" type="text">With Livingstone Hotels &amp; Resorts you can go anywhere.</lfr-editable></p>
                    <a href="#">
                        <lfr-editable id="main-image" type="image"><img alt="[Insert alternative description of the image here]" class="center-block img-responsive img-spacing" src="https://images.pexels.com/photos/634266/pexels-photo-634266.jpeg"></lfr-editable></a>
                </div>
            </div>
        </div>
    </div>
</div>