<div class="big-item-list-template jumbotron secondary-background-color">
    <section class="container-fluid container-fluid-max-xl">
        <div class="row">
            <div class="text-center col-md-4">
                <img alt="" src="$item1.png$">
                <h2><lfr-editable id="first-header" type="text">Join Livingstone Rewards Group</lfr-editable></h2>
                <p><lfr-editable id="first-body" type="text">Get more from your stay.</lfr-editable></p>
            </div>

            <div class="text-center col-md-4">
                <img alt="" src="$item2.png$">
                <h2><lfr-editable id="second-header" type="text">Explore our Hotels</lfr-editable></h2>
                <p><lfr-editable id="second-body" type="text">Find out more about our world class hotels.</lfr-editable></p>
            </div>

            <div class="text-center col-md-4">
                <img alt="" src="$item3.png$">
                <h2><lfr-editable id="third-header" type="text">Share your Experience</lfr-editable></h2>
                <p><lfr-editable id="third-body" type="text">Get your trip memories on the gram</lfr-editable></p>
            </div>
        </div>
    </section>
</div>