<div class="jumbotron list-packages-template main-background-color">
    <section class="container-fluid container-fluid-max-xl">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h1 class="display-4"><lfr-editable id="main-title" type="text">Featured Travel Packages</lfr-editable></h1>
                <p class="lead"><lfr-editable id="sub-title" type="text">Where should you go next?</lfr-editable></p>
            </div>
        </div>
    </section>

    <section class="container-fluid container-fluid-max-xl">
        <div class="row">
            <div class="text-center col-md-4">
                <div class="card card-body">
                    <h3 class="h2">Barcelona</h3>
                    <p>
                        <sup class="currency">$</sup>
                        <span class="h1">220</span>
                        <span class="period">night
                        </span>
                    </p>
                    <p>Enjoy the trip of a lifetime and make memories that will last forver</p>
                    <ul class="list-unstyled small">
                      <li>Luxury Hotel</li>
                      <li>Excursions Available</li>
                      <li>Breakfast Included</li>
                     </ul>
                    <a class="btn btn-block btn-primary btn-theme-primary btn-xl" href="#"> Learn More </a>
                </div>
            </div>

            <div class="text-center col-md-4">
                <div class="card card-body">
                    <h3 class="h2">London</h3>
                    <p>
                        <sup class="currency">$</sup>
                        <span class="h1">300</span>
                        <span class="period">night
                        </span>
                    </p>
                    <p>Enjoy the trip of a lifetime and make memories that will last forver</p>
                    <ul class="list-unstyled small">
                      <li>Luxury Hotel</li>
                      <li>Excursions Available</li>
                      <li>Breakfast Included</li>
                     </ul>
                    <a class="btn btn-block btn-primary btn-theme-primary btn-xl" href="#"> Learn More </a>
                </div>
            </div>

            <div class="text-center col-md-4">
                <div class="card card-body">
                    <h3 class="h2">New York City</h3>
                    <p>
                        <sup class="currency">$</sup>
                        <span class="h1">135</span>
                        <span class="period">night
                        </span>
                    </p>
                    <p>Enjoy the trip of a lifetime and make memories that will last forver</p>
                    <ul class="list-unstyled small">
                      <li>Luxury Hotel</li>
                      <li>Excursions Available</li>
                      <li>Breakfast Included</li>
                    </ul>
                    <a class="btn btn-block btn-primary btn-theme-primary btn-xl" href="#"> Learn More </a>
                </div>

            </div>
        </div>
    </section>
</div>