<div class="jumbotron main-background-image" style="background-image: url(https://images.pexels.com/photos/896762/pexels-photo-896762.jpeg);">
    <section class="container-fluid container-fluid-max-xl">
        <div class="col-md-10 mx-auto text-center">
            <h1 class="display-4"><lfr-editable id="main-title" type="text">Something for everyone</lfr-editable></h1>
            <p><lfr-editable id="body-text" type="text">The Livingstone Hotel Group has hotels for all acros the globe and something for every kind of traveller</lfr-editable></p>
        </div>
    </section>
</div>