<div class="jumbotron tertiary-background-image">
    <section class="container-fluid container-fluid-max-xl">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-8">
                <h1 class="display-4"><lfr-editable id="main-title" type="text">Let us make you feel at home</lfr-editable></h1>
                <p class="lead"><lfr-editable id="sub-title" type="text">Livingstone Hotels &amp; Resorts is commited to to making your next trip, your best trip yet.</lfr-editable></p>
                <h3><lfr-editable id="sub-point" type="text">Our Hotels</lfr-editable></h3>
                <p><lfr-editable id="body-text" type="text">We have over 120 hotels and resorts all around the world. Plan your next getaway now.</lfr-editable></p>
                <a class="btn btn-primary btn-theme-info btn-xl" href="#">Book Now</a>
            </div>

            <div class="col-lg-6 col-md-6 d-none d-sm-block" style="background-image: url(https://images.pexels.com/photos/545034/pexels-photo-545034.jpeg);">&nbsp;</div>
        </div>
    </section>
</div>