<div class="jumbotron main-background-image" style="background-image: url(https://images.pexels.com/photos/347143/pexels-photo-347143.jpeg);">
    <section class="container-fluid container-fluid-max-xl">
        <div class="row">
            <div class="col-md-10 mx-auto text-center">
                <h1 class="display-4"><lfr-editable id="main-title" type="text">“Best hotel stay I've ever had.”</lfr-editable></h1>
                    <p><lfr-editable id="customer-name" type="text">-Peggy S., One Satisfied Customer</lfr-editable></p>
            </div>
        </div>
    </section>
</div>