<div class="jumbotron">
    <div class="default-background-color jumbotron">
        <div class="container-fluid container-fluid-max-xl">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <!-- 03-featured-title -->
                    <h1 class="display-4"><lfr-editable id="titulo" type="text">Plan your next trip now</lfr-editable></h1>
                    <!-- 04-featured-subtitle -->
                    <p class="lead">
                        <lfr-editable id="cuerpo-texto" type="text">
                            With Livingstone Hotels &amp; Resorts you can go anywhere.
                        </lfr-editable>
                    </p>
                    <!-- 05-featured-image -->
                    <a href="#">
                        <lfr-editable id="imagen-principal" type="image">
                            <img alt="imagen-principal" class="center-block img-responsive img-spacing" src="https://images.pexels.com/photos/634266/pexels-photo-634266.jpeg">
                        </lfr-editable>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
