/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* Estilos para el menu del theme */
.navbar {
    &.navbar-expand-lg {
        &.navbar-light {
            background-color: #e3f2fd !important;
        }
    }
}

/* estilos de prueba */
body {
    header {
        #heading {
            background:aliceblue;
        }
    }
}